{% extends 'security/login.html.twig' %}

{% block title %}Coupons B5511 - Nouveau mdp Admin {% endblock %}
{% block body %}
    <h6 class="font-weight-light">Changer votre mot de passe !</h6>
    <form class="pt-3" method="post">
        {% if error is not null %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% if success is not null %}
            <div class="alert alert-primary">{{ success }}</div>
        {% endif %}
        <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="password" name="password" required placeholder="Mot de passe actuel">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-lg" id="newPassword" name="newPassword" required placeholder="Nouveau mot de passe">
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" name="_csrf_token" value="{{ csrf_token('authenticate') }}">Modifier</button>
        </div>
        <br><br><br>
        <div class="mb-2">
            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                <a href="{{ path('index') }}" style="color:white;">Tableau de bord</a>
            </button>
        </div>
    </form>
{% endblock %}